body {
    color:lightpink;
    background:lightyellow;
    margin: 0px;
    font-family: "Story Script", sans-serif;
    margin-bottom: 50px;
}

header{ 
    border-bottom: solid 2px lightpink;
    padding: 20px;
    font-size: 25px;
}


.chamada {
    background: rgb(255,241,182,1);
    padding-bottom:80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 50px;
}
p {
    font-size: 35px;
}
img {

}

.categoria-videos {
    display: flex; 
    overflow-x: auto;
    gap: 15px
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 300px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid lightgreen;
}

.categoria h2 {
    color: lightsteelblue
}